.navIcon3 {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.navIcon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d39e1a;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

/* початкові позиції */
.navIcon3 span:nth-child(1) {
  top: 0px;
}

.navIcon3 span:nth-child(2),
.navIcon3 span:nth-child(3) {
  top: 9px;
}

.navIcon3 span:nth-child(4) {
  top: 18px;
}

/* відкритий стан */
.navIcon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.navIcon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navIcon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navIcon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}
